doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Keamanan Komputer

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body
    <div class="header">
    p Pilih Persentasi:  <select onchange="location.href=this.options[this.selectedIndex].value">
    <option value="index.html">Keamanan Jaringan</option></a>
    <option value="Pengamanan Pada Linux.html">Pengamanan Pada Linux</option></a>
    <option value="Pengamanan Pada Windows.html">Pengamanan Pada Windows</option></a>
    <option value="Pengamanan Pada File.html">Pengamanan Pada File</option></a>
    <option value="" selected="1">Pengamanan Pada Registry</option></a>
    </select>
    </select>
    <select onchange="location=this.value">
    <option value="#1">Slide 1</option></a>
    <option value="#2">Slide 2</option></a>
    <option value="#3">Slide 3</option></a>
    <option value="#4">Slide 4</option></a>
    <option value="#5">Slide 5</option></a>
    <option value="#6">Slide 6</option></a>
    <option value="#7">Slide 7</option></a>
    <option value="#8">Slide 8</option></a>
    <option value="#9">Slide 9</option></a>
    <option value="#10">Slide 10</option></a>
    <option value="#11">Slide 11</option></a>
    <option value="#12">Slide 12</option></a>
    <option value="#13">Slide 13</option></a>
    <option value="#14">Slide 14</option></a>
    <option value="#15">Slide 15</option></a>
    <option value="#16">Slide 16</option></a>
    <option value="#17">Slide 17</option></a>
    <option value="#18">Slide 18</option></a>
    <option value="#19">Slide 19</option></a>
    <option value="#20">Slide 20</option></a>
    <option value="#21">Slide 21</option></a>
    <option value="#22">Slide 22</option></a>
    <option value="#23">Slide 23</option></a>
    <option value="#24">Slide 24</option></a>
    <option value="#25">Slide 25</option></a>
    <option value="#26">Slide 26</option></a>
    <option value="#27">Slide 27</option></a>
    <option value="#28">Slide 28</option></a>
    <option value="#29">Slide 29</option></a>
    <option value="#30">Slide 30</option></a>
    <option value="#31">Slide 31</option></a>
    <option value="#32">Slide 32</option></a>
    <option value="#33">Slide 33</option></a>
    <option value="#34">Slide 34</option></a>
    <option value="#35">Slide 35</option></a>
    <option value="#36">Slide 36</option></a>
    <option value="#37">Slide 37</option></a>
    </select>
    </div>
    article
      section
        h1 Pengamanan Pada Registry
        h2 Orange Team
      section
        h3 Registry yaitu hirarki informasi database dari OS Windows maupun aplikasi pendukung untuk menentukan konfigurasi dari system.
      section
        h2 Bagian (Section) Registry
      section
        h3 Terbagi atas 5 bagian yg disebut hive. Tiap hive mempunyai penyimpanan tersendiri (file) dan log.Di dalam hive terdiri dari key dan subkeys. Tiap key dan subkey mempunyai data value.Tiap data value terdiri dari nama , type dan isi value.
      section
        image(src="image/10.png")
      section
        h2 Hive dan Singkatannya
        h3 HKEY merupakan singakatan dari Hive Key
        pre
        code.language-reg.
          HKEY_CLASSES_ROOT, a.k.a. HKCR
          - HKEY_CLASSES_ROOT berisi informasi tentang 
          registered applications seperti file associations 
          dan OLE Object Class IDs
          
          HKEY_CURRENT_USER, a.k.a. HKCU
          - HKEY_CURRENT_USER berisi setting yang spesifik 
          untuk currently logged-in user        
      section
        pre
        code.language-reg.  
          HKEY_LOCAL_MACHINE, a.k.a. HKLM
          - Mempunyai subkey "SAM", "SECURITY", "SYSTEM", 
          dan "SOFTWARE". Subkey kelima “HARDWARE” dihasilkan
          secara dynamic dan berisi plug and play devices 
          yang terdeteksi.

          HKEY_USERS, a.k.a. HKU
          - Berisi setting semua user yang ada di komputer.
          Akumulasi dari HKCU.
          
          HKEY_CURRENT_CONFIG, a.k.a. HKCC
          - HKEY_CURRENT_CONFIG berisi informasi yang didapatkan
          pada waktu runtime. Informasi pada key ini tidak 
          disimpan secara permanen pada disk tetapi tetap 
          diregenerate pada waktu booting
      section
        h2 Data Value
        pre
        code.language-reg.
          REG_BINARY
          REG_COLOR_RGB
          REG_DWORD
          REG_DWORD_BIG_ENDIAN
          REG_DWORD_LITTLE_ENDIAN
          REG_EXPAND_SZ
          REG_FILE_NAME
          REG_FILE_TIME
          REG_FULL_RESOURCE_DESCRIPTOR
          REG_LINK
      section
        pre
        code.language-reg.
          REG_MULTI_SZ
          REG_NONE
          REG_QWORD
          REG_QWORD_LITTLE_ENDIAN
          REG_RESOURCE_LIST
          REG_RESOURCE_REQUIREMENTS_LIST
          REG_SZ
          REG_UNKNOWN
      section
        h2 Windows XP boot process
      section 
        p(align=left).bullet 1. System power up, inisialisasi video (tampilan) dan test hardware (termasuk memori). Proses ini disebut dengan POST (Power On Self Test)
        p(align=left).bullet 2. Selesai POST, system membaca setiap adapter dan biasanya dilakukan oleh BIOS.
        p(align=left).bullet 3. System boot loader membaca boot sector atau MBR (Master Boot Record)
        p(align=left).bullet 4. MBR membaca file NTLDR dan mempass nya ke NTLDR
        p(align=left).bullet 5. NTLDR berubah ke mode 32  bit(intel x86 selalu memboot di dalam mode 16 bit). Kemudian membaca boot.ini
        p(align=left).bullet 6. Di dalam boot ini terkandung informasi tentang operating system yang bisa diload (dijalankan)
      section      
        p(align=left).bullet 7. Kemudian NTLDR akan menjalankan ntdetect.com Tugas ntdetect adalah membaca informasi hardware dan menyimpan ke HKLM/Hardware. Kemudian process dipass kembali ke NTLDR.
        p(align=left).bullet 8. NTLDR kemudian menjalankan  Windows NT Kernel, menjalankan services dan start Windows.
        p(align=left).bullet 9. Pada waktu kernel dijalankan, maka ada menjalankan juga HAL (Hardware Abstraction Layer) yg digunakan untuk menjalankan service/konfigurasi perangkat keras.
        p(align=left).bullet 10. Registry HKLM\_System dibaca ke memory. Semua driver kemudian dibaca.
        p(align=left).bullet 11. Sesudah itu maka kemudian Windows XP dimulai tergantung dari setting startup yg dijalankan dan masuk ke WinLogon.
      section
        h2 Lokasi dari File Registry
      section
        h3.bullet %systemroot%\System32\Config
        table(width="600" style="text-align:left").bullet
          tr
            td
              p.bullet - autoexec.nt The file that initializes the MS-DOS environment unless a different startup file is specified in an application's PIF.
              p.bullet - config.nt The file that initializes the MS-DOS environment unless a different startup file is specified in an application's PIF.
              p.bullet - Default The default registry file.
              p.bullet - SAM The SAM (Security Accounts Manager) registry file.
              p.bullet - Security The security registry file.
              p.bullet - Software The application software registry file.
              p.bullet - System The system registry file.
      section
        h3.bullet In a typical Windows XP installation, the %SystemRoot%\System32\Config directory contains these files:
        table(width="600" style="text-align:left").bullet
          tr
            td
              p.bullet AppEvent.evt The application(s) event log file.
              p.bullet DEF$$$$$.del The default registry recovery file.
              p.bullet Default The default registry file.
              p.bullet Default.sav A backup copy of the information contained in the default registry file.
              p.bullet DnsEvent.evt The DNS server event log.
              p.bullet File Rep.evt One of two File Replication Service event log files.
              p.bullet Netlogon.dnb A NetLogon support file.
              p.bullet Netlogon.dns A NetLogon support file.
              p.bullet NTDS.evt The Windows XP directory service event log.
              p.bullet NtFrs.evt The second of two File Replication Service event log files.
      section
        table(width="600" style="text-align:left").bullet
          tr
            td
              p.bullet - SAM The Security Accounts Manager registry file.
              p.bullet - SecEvent.evt The security event log.
              p.bullet - Security The security registry file.
              p.bullet - SOF$$$$$.del The software registry recovery file.
              p.bullet - Software The application software registry file.
              p.bullet - Software.sav A backup copy of the information contained in the software registry file.
              p.bullet - SYS$$$$$.del The system registry recovery file.
              p.bullet - SysEvent.evt The system events log.
              p.bullet - System The system registry file.
              p.bullet - System.alt A copy of the information contained in the system registry file.
              p.bullet - System.sav A backup copy of the information contained in the system registry file.
              p.bullet - Userdiff The file that migrates preexisting user profiles from previous versions of Windows NT to Windows XP.
      section
        h2 Utility untuk mengakses Registry
      section
        h3.bullet Untuk mengakses registry digunakan utility dari windows yaitu : REGEDIT
        h3.bullet Cara menjalankan regedit :
        h3.bullet Start -> Run -> Regedit [enter]
      section
        image(src="image/11.png")
      section
        h2.bullet Cara Membackup Registry
      section
        ul
          li Mengunakan utility seperti ERUNT - The Emergency Recovery Utility NT
          li Menggunakan utility seperti Error Repair Professional, Registry Mechanic, TuneUp Pro dsbnya. Untuk memperbaiki / mencegah registry rusak.
      section
        image(src="image/12.png")
      section
        h2 Beberapa Tips dan Tricks yang terdapat pada policices HCKU dan HKLM
        
        li Menyembunyikan Menu Recent Documents
        p.bullet Key : HKCU\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer
        table(width="600" style="text-align:left").bullet
          Tricks
            td(width="250" style="text-align:center")
              p Name
              p NoRecentDocsMenu 
            td
              p Type
              p REG_DWORD
            td 
              p Value
              p 1 (Enable)
        li Menyembunyikan Menu Find
        p.bullet Key : HKCU\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer
        table(width="600" style="text-align:left").bullet
          tr
            td(width="250" style="text-align:center")
              p Name  
              p NoFind 
            td
              p Type
              p REG_DWORD 
            td
              p Value
              p 1 (Enable)
      section
            li Menyembunyikan Menu Run
            p.bullet Key : HKCU\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer
            table(width="600" style="text-align:left").bullet
              tr
                td(width="250" style="text-align:center")
                  p Name  
                  p NoRun
                td
                  p Type
                  p REG_DWORD 
                td
                  p Value
                  p 1 (Enable)
            li Menyembunyikan Menu Turn Off Computer
            p.bullet Key : HKCU\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer
            table(width="600" style="text-align:left").bullet
              tr
                td(width="250" style="text-align:center")
                  p Name  
                  p NoCLose
                td
                  p Type
                  p REG_DWORD 
                td
                  p Value
                  p 1 (Enable)
      section
            li Menonaktifkan Klik-kanan Pada Desktop
            p.bullet Key : HKCU\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer
            table(width="600" style="text-align:left").bullet
              tr
                td(width="250" style="text-align:center")
                  p Name  
                  p NoViewContextMenu 
                td
                  p Type
                  p REG_DWORD 
                td
                  p Value
                  p 1 (Enable)
            li Menyembunyikan System Tray
            p.bullet Key : HKCU\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer
            table(width="600" style="text-align:left").bullet
              tr
                td(width="250" style="text-align:center")
                  p Name  
                  p NoTrayItemsDisplay 
                td
                  p Type
                  p REG_DWORD 
                td
                  p Value
                  p 1 (Enable)
      section
            li Menyembunyikan Icon di Desktop
            p.bullet Key : HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer/Advanced
            table(width="600" style="text-align:left").bullet
              tr
                td(width="250" style="text-align:center")
                  p Name  
                  p HideIcons
                td
                  p Type
                  p REG_DWORD 
                td
                  p Value
                  p 1 (Enable)
            li Menghilangkan Tab Screen Saver
            p.bullet Key : HKCU\Software\Microsoft\Windows\CurrentVersion\Policies\System
            table(width="600" style="text-align:left").bullet
              tr
                td(width="250" style="text-align:center")
                  p Name  
                  p NoDispScrSavPage 
                td
                  p Type
                  p REG_DWORD 
                td
                  p Value
                  p 1 (Enable)
      section
            li Menonaktifkan Display Properties
            p.bullet Key : HKCU\Software\Microsoft\Windows\CurrentVersion\Policies\System
            table(width="600" style="text-align:left").bullet
              tr
                td(width="250" style="text-align:center")
                  p Name  
                  p NoDispCPL
                td
                  p Type
                  p REG_DWORD 
                td
                  p Value
                  p 1 (Enable)
            li Menyembunyikan Menu Control Panel
            p.bullet Key : HKCU\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer
            table(width="600" style="text-align:left").bullet
              tr
                td(width="250" style="text-align:center")
                  p Name  
                  p NoControlPanel
                td
                  p Type
                  p REG_DWORD 
                td
                  p Value
                  p 1 (Enable)
      section
            li Menonaktifkan MS-DOS Command Prompt
            p.bullet Key : HKCU\Software\Policies\Microsoft\Windows\System
            table(width="600" style="text-align:left").bullet
              tr
                td(width="250" style="text-align:center")
                  p Name  
                  p NoDisableCMD
                td
                  p Type
                  p REG_DWORD 
                td
                  p Value
                  p 1 (Enable)
            li Menyembunyikan Folder Options
            p.bullet Key : HKCU\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer
            table(width="600" style="text-align:left").bullet
              tr
                td(width="250" style="text-align:center")
                  p Name  
                  p NoFolderOptions
                td
                  p Type
                  p REG_DWORD 
                td
                  p Value
                  p 1 (Enable)
      section
            li Menonaftifkan Regedit
            p.bullet Key : HKCU\Software\Microsoft\Windows\CurrentVersion\Policies\System
            table(width="600" style="text-align:left").bullet
              tr
                td(width="250" style="text-align:center")
                  p Name  
                  p DisableRegistryTools
                td
                  p Type
                  p REG_DWORD 
                td
                  p Value
                  p 1 (Enable)
            li Menonaktifkan Task Manager
            p.bullet Key : HKCU\Software\Microsoft\Windows\CurrentVersion\Policies\System
            table(width="600" style="text-align:left").bullet
              tr
                td(width="250" style="text-align:center")
                  p Name  
                  p DisableTaskMgr
                td
                  p Type
                  p REG_DWORD 
                td
                  p Value
                  p 1 (Enable)
      section
            li Pengaturan Autorun
            p.bullet Key : HKCU\Software\Microsoft\Windows\CurrentVersion\Policies\Explorer
            table(width="600" style="text-align:left").bullet
              tr
                td(width="250" style="text-align:center")
                  p Name  
                  p NoDriveTypeAutoRun
                td
                  p Type
                  p REG_DWORD 
                td
                  p Value
                  p 0x00000091 (145)
      section
        h2 Beberapa Lokasi Startup untuk menjalankan program pertama kali
        ul
            p HKCU\Software\Microsoft\Windows\CurrentVersion\Run
            p HKLM\Software\Microsoft\Windows\CurrentVersion\Run
            table(width="600" style="text-align:left").bullet
              tr
                td(width="150" style="text-align:center")
                  p Name  
                  p AVG9_TRAY
                td
                  p Type
                  p REG_SZ 
                td
                  p Value
                  p C:\PROGRA~1\AVG\AVG9\avgtray.exe
            p HKLM\Software\Microsoft\Windows NT\CurrentVersion\Winlogon
            table(width="600" style="text-align:left").bullet
              tr
                td(width="150" style="text-align:center")
                  p Name  
                  p Shell
                  p Userinit
                  p System
                  p UIHost
                td
                  p Type
                  p REG_SZ
                  p REG_SZ 
                  p REG_SZ 
                  p REG_SZ  
                td
                  p Value
                  p Explorer.exe [???]
                  p C:\WINDOWS\system32\userinit.exe,[???]
                  p [???]
                  p logonui.exe [???]
      section
            p HKLM\System\CurrentControlSet\Services
            p Contoh: avg9wd
            image(src="image/13.png")
            p Startup pada Start Menu -> All Programs
            p Scheduled Tasks pada Start Menu -> Accessories -> System Tools
      section
        h2 Bisa juga menggunakan utility MSCONFIG.
        image(src="image/14.png")
      section
        h2.bullet Pembuatan INF File
          h3
            ul
              li INF file dapat dibuat dengan menggunakan text editor seperti NOTEPAD dsbnya.
              li File yang sudah dibentuk harus berextension .INF
              li Untuk menjalankannya, file INF tersebut diklik kanan kemudian pilih INSTALL.
      section
        table(width="600" style="text-align:left").bullet
          tr
            td
              p [Version] 
              p Signature="$Chicago$" 
              p Provider="Universitas"
              p [DefaultInstall] 
              p AddReg=fix
              p DelReg=del
              p HKCU, Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced,Hidden,%REG_DWORD%,1
              p HKCU, Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced,HideFileExt,%REG_DWORD%,0
              p HKCU, Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced,ShowSuperHidden,%REG_DWORD%,0
              p HKLM, SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon, Shell,0, "Explorer.exe" 
      section
        table(width="640" style="text-align:left").bullet
          tr
            td
              p [del]
              p HKCU, Software\Microsoft\Windows\CurrentVersion\Policies\System,DisableCMD
              p HKCU, Software\Microsoft\Windows\CurrentVersion\Policies\System,DisableRegistryTools
              p HKCU, Software\Microsoft\Windows\CurrentVersion\Policies\Explorer,NoFolderOptions
              p HKCU, Software\Microsoft\Windows\CurrentVersion\Policies\System,DisableTaskMgr
              p HKCU, Software\Microsoft\Windows\CurrentVersion\Policies\Explorer,NoFind
              p HKCU, Software\Microsoft\Windows\CurrentVersion\Policies\Explorer,NoRun
              p HKLM, SOFTWARE\Microsoft\Windows\CurrentVersion\policies\explorer,NoFind
              p HKLM, SOFTWARE\Microsoft\Windows\CurrentVersion\policies\explorer,NoRun
              p HKLM, SOFTWARE\Microsoft\Windows\CurrentVersion\policies\System,DisableRegistryTools
              p HKLM, SOFTWARE\Microsoft\Windows\CurrentVersion\policies\System,DisableTaskMgr
      section
        table(width="640" style="text-align:left").bullet
          tr
            td     
              p [Strings]
              p REG_DWORD      = 0x00010001

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild