doctype html
html
	head
		meta(name='viewport', content='width=device-width')
		title
			Bespoke.js
		link(rel='stylesheet', type='text/css', href='styles/style.css')
		link(rel='stylesheet', type='text/css', href='styles/themes.css')
		link(href='http://fonts.googleapis.com/css?family=Raleway+Dots', rel='stylesheet', type='text/css')
		link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')

	body.coverflow
		div#main
			header
				p Pilih Persentasi:
					select(onchange='location.href=this.options[this.selectedIndex].value')
						option(value='', selected='1') HBCD
						option(value='Alur Kerja Branching.html') Alur Kerja Branching
							
			article
				section
					h1 How to Create Ms-Dos BootCD (Hiren's Bootable CD)?
					h2 Orange Team
				section
					h2.bullet Tools Used
					ul
						li bfi.exe (Build Floppy Image - to create bootable image from files)
						li mkisofs.exe (a tool to create/build the CDRom ISO image file)
						li build-iso.cmd (batch file to create floppy and iso image)
				section
					h2.bullet We will need some files from Windows ME or Windows XP startup disk
					ul
						li io.sys (Dos Input Output System file)
						li msdos.sys (Dos system file)
						li command.com (MS-Dos mode command line interpreter)
						li himem.sys (An extended memory manager that is included with DOS and Windows)
						li mscdex.exe (Microsoft CD-Rom Extension)
						li oakcdrom.sys (Generic CD-Rom driver, work with the most of all IDE CD-ROM drives)
						li xmsdsk.exe (Adjustable XMS RAMdisk Driver - Freeware)
						li ctmouse.exe (Mouse Driver For Dos - also works on USB Mouse - Freeware) or mouse.com
					a(href='http://www.hiren.info/download/freeware-tools/bootcd.zip') All the necessary files are included in bootcd.zip Download (468KB)
				section
					p AUTOEXEC.BAT
					code.language-bat.
						@ECHO OFF
						MSCDEX.EXE /D:CDDRIVER /L:X
						XMSDSK.EXE 51200 R: /t /y
						CTMOUSE.EXE
						PATH=A:\;R:\
						GOTO %CONFIG%

						:TESTDISK
						COPY X:\TESTDISK\*.* R:
						R:\TESTDISK.EXE
						GOTO DOS
				section
					code.language-ini.
						:GHOST
						COPY X:\GHOST\GHOST.EXE R:
						R:\GHOST.EXE
						GOTO DOS

						:NTFS
						COPY X:\NTFS\*.* R:
						R:\NTFS4DOS.EXE
						GOTO DOS

						:RPM
						COPY X:\RPM\*.* R:
						R:\RPM.EXE
						GOTO DOS
				section
					code.language-ini.
						:DOS
						ECHO  X: CD DRIVE
						ECHO  R: RAM DRIVE
				section
					p CONFIG.SYS
					code.language-ini.
						[MENU]
						menuitem=DOS, Dos
						menuitem=TESTDISK, TestDisk
						menuitem=GHOST, Ghost
						menuitem=NTFS, Ntfs
						menuitem=RPM, Partition Manager

						[DOS]
						DEVICE=OAKCDROM.SYS /D:CDDRIVER /L:X

						[TESTDISK]
						include=DOS
				section
					code.language-ini.
						[GHOST]
						include=DOS

						[NTFS]
						include=DOS

						[RPM]
						include=DOS

						[COMMON]
							LASTDRIVE=Z
				section
					p You can add your favorite Programs in the bootcd, all you need to do is Edit autoexec.bat and config.sys and add all the required files in the folder and double click on build-iso and you are ready to burn bootcd.iso
				section
					p Example: You want to add Mcafee Antivirus in the bootcd, all you do is create a folder MCAFEE in the folder CD and add a line in config.sys menu
					code.language-ini.
						menuitem=MCAFEE, McAfee Antivirus
				section
					p add two more lines in config.sys
					code.language-ini.
						[MCAFEE]
						include=DOS
				section
					p and add 4 lines in autoexec.bat
					code.language-ini.
						:MCAFEE
						COPY X:\MCAFEE\*.* R:
						R:\scanpm.exe /adl /all /clean
						GOTO DOS
				section
					p when you start your computer with this bootcd, you will get to menu where you can choose which program you want to run. In this example we will create 50Mb Ram Disk (You will have Minimum of 64Mb Memory)
				section
					pre
					code.language-ini.
						h4 Microsoft Windows Startup Menu
						‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗
						p 1. Dos
						p 2. TestDisk
						p 3. Ghost
						p 4. Ntfs
						p 5. Partition Manager
						p 6. McAfee Antivirus
						p Enter a choice : 1
				section
					p You can easily create bootable cd, all you have to do is add few lines in autoexec.bat and config.sys and copy files in CD folder and double click on build-iso.cmd and it creates a iso file BootCD.iso
					p You can add as many items in the list but you are limited to 9 per screen to add more items simply add submenu=MORE, More... (under [MENU] block) and add [MORE] in config.sys and you can add more menuitem there.

		div#forkme
			a(href='https://github.com/markdalgleish/bespoke.js') Fork me on GitHub

		footer
			div.credits
				a(href='http://twitter.com/markdalgleish')
					img(src='images/profile.jpg', alt='Mark Dalgleish')
				p Lovingly crafted by 
					a(href='http://twitter.com/markdalgleish') @markdalgleish

			div.themes
				p
					strong Example Theme
						span.colon :
					span#theme
				div#up-arrow.up.arrow ^
				div#down-arrow.down.arrow ^

		script(src='scripts/bespoke.js')
		script(src='scripts/demo.js')
